<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/input.css">
</head>

<body>
    <div id="app">
        <div id="login" class="app-login">
            <!-- 头部开始 -->
            <section class="app-title">
                手机登入/注册
            </section>
            <!-- 头部结束 -->
            <!-- 中间开始 -->
            <section class="app-content">
                <section class="top">
                    <section class="left">+86</section>
                    <section class="right">
                        <input type="text" placeholder="手机号" v-model="phone" />
                    </section>
                </section>
                <section class="bottom">
                    <section class="left">
                        <input type="text" placeholder="请输入为验证码" v-model="code" />
                    </section>
                    <section class="right">发送验证码</section>
                </section>
            </section>
            <!-- 中间结束 -->
            <!-- 确认框开始 -->
            <section class="app-confirm" @[clcikevent]="handclick">
                确认
            </section>
            <!-- 确认框结束 -->
        </div>
    </div>
    <script src="../../vue.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                phone: "",
                code: "",
                clcikevent: "click"

            },
            methods: {
                handclick: function() {
                    //获取电话号码
                    let phone = this.phone;
                    let code = this.code;
                    let data = {
                        phone: phone,
                        code: code
                    }
                    console.log("发送数据")
                    console.table(data)
                }
            },
        })
    </script>
</body>

</html>